*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.formulario{
    width: 30rem;
    height: 40rem;
    background-color: #fd1212;
    border-radius: 10px;
} 
.logo{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.logo img{
    width: 50%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linha01{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 2rem;
    color: white;
    font-size: large;
}
.linha02{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 2rem;
    color: white;
    font-size: large;
}
input{
    width: auto;
    height: 3rem;
    border: none;
    border-radius: 10px;
    background-color: #f1da0b;
}
button{
    width: 30%;
    height: 3rem;
    border: none;
    border-radius: 10px;
    font-size: medium;
    background-color: #f1da0b;
    color: #000000
}
